name: betoniarka
services:
  db:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: betoniarka
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"

  app:
    build: .
    container_name: app
    ports:
      - "8080:8080"
    depends_on:
      - db
      - mailpit
    environment:
      SPRING_PROFILES_ACTIVE: production

volumes:
  postgres_data:
